@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

:root{
    /* Primary Colors */
    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180,62%,55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);

    /* Neutral Colors */
    --very-dark-blue : hsl(234, 12%, 34%);
    --grayish-blue: hsl(229, 6%, 66%);
    --very-light-grey: hsl(0, 0%, 98%);

    /* fonts */
    --poppins-font : font-family: 'Poppins', sans-serif;
}

body{

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: var(--poppins-font);
}

.header{
    margin-top: 2rem;
    text-align: center;
    margin-bottom: 3rem;
}

.header-heading{
    font-weight: 400;
    font-size: 1.5rem;
    color: var(--grayish-blue);
}

.header-sub-heading{
    font-weight: 600;
    font-size: 1.5rem;
    color: var(--very-dark-blue);
}
.header-desc{
    font-weight: 200;
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
    color: var(--grayish-blue);
}

.card-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.container-one{
    /* width:16rem; */
    margin-top: 10%;
}
.container-two{
    /* width: 16rem; */
}

.card{
    width: 16rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin:1rem;
    padding: 2rem;
    border-radius: 4px;
}

.card-header{
    font-size: 1.2rem;
    margin-bottom: 0.3rem;
    font-weight: 600;
}

.card-description{
    line-height: 1.5;
    font-weight: 200;
    color: var(--grayish-blue);
    margin-bottom: 1.6rem;
}
.card-image{
    display: flex;
    justify-content: right;
    align-items: right;
}

.supervisor-card{
    border-top: 4px solid var(--cyan);
}

.karma-card{
    border-top: 4px solid var(--red);

}

.team-card{
    border-top: 4px solid var(--orange);

}

.calc-card{
    border-top: 4px solid var(--blue);

}

@media (max-width:400px){
    .header-desc{
        margin-left: 10%;
        margin-right: 10%;
    }
    .card-container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .container-one{
        margin-top: 0%;
    }
}